<div class="dropdown">
  <span class="navbar-cart">
    <i class="fa fa-shopping-cart fa-lg shopping-cart-icon-loggedin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
  </span>
  <div class="dropdown-menu cart-drop-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      {{#if cartProducts}}
        {{#each cartProducts}}
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>
                <img src="{{this.img}}" style="max-width: 100px;">
              </td>
              <td>
                {{this.name}}
                <p id="itemid" hidden>{{this.id}}</p>
                <p>Medium</p>
              </td>
              <td>
                {{> out-of-stock}}
              </td>  
              <td>
                {{this.qty}}
              </td>
              <td>
                ₱ <span>{{this.subPrice}}</span>
              </td>
            </tr>
          </tbody>
        </table>
        {{/each}}
      {{else}}
      <p>Your cart is empty :(</p>
      {{/if}}
    <div class="checkout-button text-right">
      <a href="/checkout" type="button" class="btn rounded-pill">Edit Cart</a>
    </div>
  </div>
</div>