<div class="container checkout-section text-center">
  <br>
  {{#if cartProducts}}
  <h4>{{title}}</h4>
  <br>
  {{> messages}}
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each cartProducts}}
        {{#if this.status}}
        <tr class="checkout-card">
          <th class="checkout-img-name">
            <img src="{{this.img}}" width="150px">
            <p>{{this.name}}</p>
          </th>
          <th>{{this.size}}</th>
          <th>₱ {{this.subPrice}}</th>
          <th>{{this.qty}}</th>
          <th>
            <a href="/delete_from_cart/{{this.id}}/{{this.size}}"  class="remove-product" style="color: #0a0a0a;">
              <h1>X</h1>
            </a>
          </th>
        </tr>
        {{else}}
        <tr class="checkout-card">
          <th class="checkout-img-name">
            <img src="{{this.img}}" width="150px">
            <p>{{this.name}}</p>
          </th>
          <th>{{this.size}}</th>
          <th>₱ {{this.subPrice}}</th>
          <th>{{this.qty}}</th>
          {{!-- <th>Out of Stock</th> --}}
          <th>
            <a href="/delete_from_cart/{{this.id}}/{{this.size}}"  class="remove-product" style="color: #0a0a0a;">
              <h1>X</h1>
            </a>
          </th>
        </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  <br><br>
  </a>
  <div class="container text-right">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4">
        <div class="row">
          <div class="col">Total</div>
          <div class="col">₱ {{total}}</div>
        </div>
        <div class="row">
          <div class="col">Shipping Fee</div>
          <div class="col">+ ₱ 50.00</div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Total Amount</h4>
          </div>
          <div class="col">
            <h4>₱ {{totalWithShipping}}</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
    <a id = 'delAllbtn' href='/delete_all_from_cart' type = 'button' class="btn rounded-pill">Delete All Items</a>
    <!-- {{#if checkout}} -->
    <a id = 'shipbtn' href='/shipping' type = 'button' class="btn rounded-pill checkStock">Order</a>
    <!-- {{else}} -->
    <a id = 'failBtn' data-toggle="modal" data-target="#failed-checkout" type = 'button' class="btn rounded-pill checkStock">Checkout</a>
    <!--{{/if}} -->
  </div>
  <br><br><br><br><br>
  {{else}}
  <div style="height: calc(100vh - 400px);">
    {{> messages}}
    <h4>Your cart is empty :(</h4>
  </div>
  {{/if}}
  <br><br><br>
</div>


    <!-- Modal
    <div class="modal fade" id="failed-checkout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content text-center">
          <div class="modal-body">
            <h3>
              <strong>Checkout Failed. An Item is out of stock!</strong>
            </h3>
          </div>
          <div class="justify-content-center">
            <button type="button" class="btn modal-btn rounded-pill" id="modal-btn" aria-label="Close" data-dimiss="#failed-checkout">
              Okay
            </button>
          </div>
          <br>
        </div>
      </div>
    </div> -->
    
<div class="modal fade" id = "failed-checkout" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content text-center">
      <div class="modal-body">
        <h3>
          <strong>Checkout Failed. An Item is out of stock!</strong>
        </h3>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>