<div class="container checkout-section text-center">
  {{> confirm-delete-modal}}
  <br>
  {{#if cartProducts}}
  <h4>{{title}}</h4>
  <br>
  </a>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each cartProducts}}
        {{#if this.stock.status}}
        <tr class="checkout-card">
          <th class="checkout-img-name">
            <img src="{{this.img}}" width="150px">
            <p>{{this.name}}</p>
          </th>
          <th>Medium</th>
          <th>₱ {{this.subPrice}}</th>
          <th>{{this.qty}}</th>
          <th>
            <a href="/delete_from_cart/{{this.id}}"  class="remove-product" style="color: #0a0a0a;">
              <h1>X</h1>
            </a>
          </th>
        </tr>
        {{else}}
        <tr class="checkout-card">
          <th class="checkout-img-name">
            <img src="{{this.img}}" width="150px">
            <p>{{this.name}}</p>
          </th>
          <th>Medium</th>
          <th>₱ {{this.subPrice}}</th>
          <th>Out of Stock</th>
          <th>
            <a href="/delete_from_cart/{{this.id}}"  class="remove-product" style="color: #0a0a0a;">
              <h1>X</h1>
            </a>
          </th>
        </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
  <br>
  </a>
  <div class="container text-right">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4">
        <div class="row">
          <div class="col">Total</div>
          <div class="col">₱ {{total}}</div>
        </div>
        <div class="row">
          <div class="col">Shipping Fee</div>
          <div class="col">+ ₱ 50.00</div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Total Amount</h4>
          </div>
          <div class="col">
            <h4>₱ {{totalWithShipping}}</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
    {{#if checkout}}
    <a href='/shipping' type = 'button' class="btn rounded-pill checkStock">Order</a>
    {{else}}
    <a href='#' type = 'button' class="btn rounded-pill checkStock">Out of Stock</a>
    {{/if}}
  </div>
  {{else}}
  <div style="height: calc(100vh - 400px);">
    <h4>Your cart is empty :(</h4>
  </div>
  {{/if}}
  <br><br>
</div>
