<div class="container checkout-section text-center">
  <br>
  <h4>{{title}}</h4>
  <br>
  {{#if cartProducts}}
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Product</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each cartProducts}}
        <tr class="checkout-card">
          <th class="checkout-img-name">
            <img src="{{this.img}}" width="150px">
            <p>{{this.name}}</p>
            {{!-- <p class="text-danger"><span class="checkout-out-of-stock border border-danger">Out of Stock</span></p> --}}
          </th>
          <th>Medium</th>
          <th>₱ {{this.subPrice}}</th>
          <th>{{this.qty}}</th>
          <th>
            <h1>X</h1>
          </th>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <br>
  <div class="container text-right">
    <div class="row">
      <div class="col-8"></div>
      <div class="col-4">
        <div class="row">
          <div class="col">Total</div>
          <div class="col">₱ {{total}}</div>
        </div>
        {{!-- <div class="row">
          <div class="col">Promo</div>
          <div class="col">-50</div>
        </div> --}}
        <div class="row">
          <div class="col">Shipping Fee</div>
          <div class="col">+ ₱ 50.00</div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Total Amount</h4>
          </div>
          <div class="col">
            <h4>₱ {{totalWithShipping}}</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
    <a href="/shipping" type="button" class="btn rounded-pill">Order</a>
  </div>
  {{else}}
  <div style="height: calc(100vh - 400px);">
    <h4>Your cart is empty :(</h4>
  </div>
  {{/if}}
  <br><br>
</div>