<div>
  <br><br>

  <div class = "cont-header">
    Contact Us
  </div>

  <br><br>

  <!-- Contacts -->

  <div class="container">
    <div class = "row">
      <div class="col cont-calign"><img src = "{{phone}}" class = "cont-pic"></div>
      <div class="col cont-calign"><img src = "{{media}}" class = "cont-pic "></div>
      <div class="col cont-calign"><img src = "{{email}}" class = "cont-pic "></div>
    </div>
    <br>
    <div class = "row">
      <div class = "cont-bigtext col cont-calign">Contact Number</div>
      <div class = "cont-bigtext col cont-calign">Social Media</div>
      <div class = "cont-bigtext col cont-calign">Email</div>
    </div>
    <br>
    <div class = "row">
      <div class = "cont-smtext col cont-calign" id="phonenum">{{phonenum}}</div>
      <div class = "cont-medtext col cont-calign">Facebook</div>
      <div class = "cont-smtext col cont-calign" id="email">salawalco.ph@gmail.com</div>
    </div>
    <div class = "row">
      <div class = "col"></div>
      <div class = "col cont-calign"><a href = 'http://www.facebook.com/SalawalCo' class = 'cont-smtext' id="fblink">{{fblink}}</a></div>
      <div class = "col"></div>
    </div>
    <br>
    <div class = "row">
      <div class = "col"></div>
      <div class = "cont-medtext col cont-calign">Instagram</div>
      <div class = "col"></div>
    </div>
    <div class = "row">
      <div class = "col"></div>
      <div class = "col cont-calign"><a href = 'http://www.instagram.com/SalawalCo' class = 'cont-smtext' id="iglink">{{iglink}}</a></div>
      <div class = "col"></div>
    </div>

  </div>
  <br><br><br><br><br><br>
</div>
