<div class="container">
  <br>
  <h2 class="mt-4">Edit Item Details of {{pName}}</h2>
  <br>
  {{> messages}}
  <br>
  <form action="/edit_item/{{id}}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label><b>Product Name</b></label>
      <input type="text" class="form-control w-50" id="pName" name="pName" placeholder="{{pName}}">
    </div>
    <div class="form-group">
      <label><b>Product Description</b></label>
      <input type="text" class="form-control w-50" id="desc" name="desc" placeholder="{{desc}}">
    </div>
    <div class="form-group">
      <label><b>Product Category</b></label>
      <input type="text" class="form-control w-50" id="pCat" name="pCat" placeholder="{{category}}">
    </div>
    <div class="form-group">
      <label><b>Price</b></label>
      <input type="number" step="any" class="form-control w-50" id="price" name="price" placeholder="{{price}}">
    </div>
    <div class="form-group">
      <img src="{{img}}" width="250px"><br><br>
      <label><b>Upload New Product Image</b></label>
      <input type="file" class="form-control-file" id="image" name="image">
    </div>
    <br>
    <button type="submit" class="btn btn-c-yellow">Submit</button>
    <a href="/view_all_items" type="button" class="btn btn-c-green">Back to All Items</a>
  </form>
  <br><br><br>
</div>