<div class = "faq-view">
  <br><br>

  <div class = "faq-header">
    Frequently Asked Questions (FAQ)
  </div>

  <br><br>

  <!-- FAQ -->
  <div class = "faq-group">
   <div class = "faq-qa">Q. &nbsp</div>
   <div class = "faq-question">{{question}} </div>
  </div>
  <div class = "faq-group">
   <div class = "faq-qa">A. &nbsp</div>
   <div class = "faq-body">
     {{answer}}
   </div>
  </div>
  <br><br>

  <div class = "faq-group">
   <div class = "faq-qa">Q. &nbsp</div>
   <div class = "faq-question">{{question}} </div>
  </div>
  <div class = "faq-group">
   <div class = "faq-qa">A. &nbsp</div>
   <div class = "faq-body">
     {{answer}}
   </div>
  </div>
  <br><br>

  <div class = "faq-group">
   <div class = "faq-qa">Q. &nbsp</div>
   <div class = "faq-question">{{question}} </div>
  </div>
  <div class = "faq-group">
   <div class = "faq-qa">A. &nbsp</div>
   <div class = "faq-body">
     {{answer}}
   </div>
  </div>
  <br><br>
</div>
