<div class="container-fluid">
  <br><br>
  <!-- Header -->
  <header class="masthead-section text-center">
    <div class="masthead-banner">
      <img src="img/masthead-banner.png">
    </div>
    <br>
    <div class="btn-masthead">
      <a href="/catalogue" type="button" class="btn rounded-pill">Start Shopping</a>
    </div>
  </header><!-- End -->

  <br><br><br>

  <!-- Features --> 
  <section class="features-section text-center">
    <h4 class="features-title">Our Styles</h4>
    <br>
    <div class="row">
      {{#each categories}}
      <div class="col-sm btn-features">      
        <button onclick = 'filterBtn({{this.category}});' class="btn rounded-pill {{this.category}}btn" id = '{{this.category}}btn' value = '{{this.category}}'>{{this.category}}</a>
      </div>
      {{/each}}
    </div>
    <br>
    <div class="btn-features">
      <a href="/catalogue" type="button" class="btn rounded-pill">View Products</a>
    </div>
  </section><!-- End -->

  <br><br><br>
</div>

<script type = 'text/javascript'>
  function filterBtn (val) {
    console.log('boop');
    category = val;
  }
  $('#categorybtn').click(function () {
    console.log("BOOOOOOOOOOOOO")
    req.body.category = $('input=[id="categorybtn"]').val()
  })
</script>