<div class="container ">
  <br>
  <div class="text-left">
      <a href="/catalogue">
        <button class="btn logout-btn rounded-pill">Back to Catalogue</button>
      </a>
  </div>
  <br><br>
  <div class="row text-center">
    {{> messages}}
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-sm-4">
      <img src=".{{productImg}}" style="max-width: 320px;">
    </div>
    <div class="col-sm-8">
      <h2>{{productName}}</h2>
      <h4>₱ {{productPrice}}</h4>
      <br>
      <h5>{{productDesc}}</h5>
      <h5>100% cotton. Stylish. Confortable. 100% Filipino Made.</h5>
      <br>
      <form class="form-control" action="/add_to_cart/{{_id}}" method="POST" style="background-color: transparent; border: none; color: #0a0a0a;">
        <div class="row">
          <div class="col">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="size" id="small" value="Small">
              <label class="form-check-label" for="inlineRadio1">S</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="size" id="medium" value="Medium">
              <label class="form-check-label" for="inlineRadio2">M</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="size" id="large" value="Large">
              <label class="form-check-label" for="inlineRadio2">L</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="size" id="x-large" value="X-Large">
              <label class="form-check-label" for="inlineRadio2">XL</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="text" name="qty" id="qty" value="1">
              <label class="form-check-label" >Quantity</label>
            </div>
          </div>
          <div class="col">
            <input type="submit" class="btn logout-btn rounded-pill" name="btnPressed" id="btnPressed" value="Add to Cart">
          </div>
        </div>
      </form>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col">
      <h4>Size Chart</h4>
      <img src=".{{sizeChart}}" style="max-height: 500px;">
    </div>
  </div>
  <br><br><br>
</div>


<script>

$(function() {
  $("#small").prop("checked", true)
  $(".size").on("change",changeRadio)
});

function changeRadio() {
  $.post('/product_details/:slug', {
    size: $('input[name="size"]:checked').val()
  }
}

</script>
