<br><br>
<div class = 'container-fluid'>
    <div class="row">
        <div class="col">
            <h4>User: {{name}}</h4>
        </div>
        <div class="col text-right">
            <a href="/logout" type="button" class="btn logout-btn rounded-pill">
            <strong>Logout</strong>
            </a>
        </div>
    </div>
    <div class="row">
        <h4>Date Joined: {{date}}</h4>
    </div>
<br><br>
<div class = 'row'>
    <div class='col-sm-4 panel-group'>
        <div class = 'panel panel-default'>
            <div class = 'panel-body'>
                <div class = 'table-responsive'>
                    <table class = 'table table-striped' id='table-detail'>
                        <tr>
                            <th>Shipping Details</th>
                            <td class = 'text-right'>
                                <i onclick="showHideDetails('shiprows');" class="fa fa-plus-circle fa-2x fa-search" id = 'shipbutton'></i>
                            </td>
                        </tr>
                        <tr class = 'hidden-row' id = 'shiprows'>
                            <th>
                                Full name
                            </th>
                            <td>
                                <input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "fullname" placeholder ={{full}}>
                            </td>
                        </tr>
                        <tr class = 'hidden-row' id = 'shipcontno'>
                            <th>Contact Number</th>
                            <td><input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "contno" placeholder ={{contno}}></td>
                        </tr>
                        <tr class = 'hidden-row' id = 'shipemad'>
                            <th>Email Address</th>
                            <td><input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "email" placeholder ={{emad}}></td>
                        </tr>
                        <tr class = 'hidden-row' id = 'shiphonu'>
                            <th>House Number</th>
                            <td><input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "houseno" placeholder ={{hno}}></td>
                        </tr>
                        <tr class = 'hidden-row' id= 'shipbar'>
                            <th>barangay</th>
                            <td><input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "brngy" placeholder ={{barangay}}></td>
                        </tr>
                        <tr class = 'hidden-row' id = 'shipcity'>
                            <th>City</th>
                            <td><input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "city" placeholder ={{city}}></td>
                        </tr>
                        <tr class = 'hidden-row' id = 'shipprov'>
                            <th>province</th>
                            <td><input type="text" class="profile-form form-rounded rounded-pill border-white login-input" id = "prov" placeholder ={{province}}></td>
                        </tr>
                        <tr class = 'hidden-row' id = 'shipsubmit'>
                            <td></td>
                            <td>
                                <input type="submit" class="profile-form form-rounded rounded-pill border-white login-input" value ="Save Shippings">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class ='col-sm-8'>
        <div class = 'panel panel-default'>
            <div class = 'panel-body'>
                <div class = 'table-responsive'>
                    <table class = 'table table-striped'>
                        <tr>
                            <th>Order History</th>
                            <td class = "hidden-row" id = "hidden-row0"></td>
                            <td></td>
                            <td></td>
                            <td class = "hidden-row" id = "hidden-row00"></td>
                            <td class = 'text-right'>
                                <i onclick="showHideOrders('hidden-row');" class="fa fa-plus-circle fa-2x fa-search" id = "order-button"></i>
                            </td>
                        </tr>
                        <tr>
                            <th>Product</th>
                            <th class = "hidden-row" id = "hidden-row1">Order Date</th>
                            <th>Size</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th class = "hidden-row" id = "hidden-row11">Status</th>
                        </tr>
                        <tr>
                            <td>Flamingo Shorter Shorts</td>
                            <td class = "hidden-row" id = "hidden-row2">11/11/2020</td>
                            <td>Medium</td>
                            <td>2</td>
                            <td>20.00</td>
                            <td class = "hidden-row" id = "hidden-row22">Received</td>
                        </tr>
                        <tr>
                            <td>Flamingo Shorter Shorts</td>
                            <td class = "hidden-row" id = "hidden-row3">11/11/2020</td>
                            <td>Assorted</td>
                            <td>5</td>
                            <td>1000.00</td>
                            <td class = "hidden-row" id = "hidden-row33">Received</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br><br><br><br><br>
<br>
<br>

<script type="text/javascript"> 
  function showHideDetails(e) { 
      $("#" + e).toggle();
      $('#shipcontno').toggle();
      $('#shipemad').toggle();
      $('#shiphonu').toggle();
      $('#shipbar').toggle();
      $('#shipcity').toggle();
      $('#shipprov').toggle();
      $('#shipsubmit').toggle();
      $("#shipbutton").toggleClass('fa-minus-circle fa-plus-circle')
  } 
</script>

<script type="text/javascript">
    function showHideOrders(e) {
        var i;
        for (i = 0;i<= 3;i++) {
            $('#'+e+i).toggle();
            $('#'+e+i+i).toggle();
        }
        $("#orderbutton").toggleClass('fa-minus-circle fa plus-circle')
    }
</script>