<br><br>
<section class="catalogue-section">
    <div class="row">
        <div class="catalogue-sidebar col-sm-3">
            <h5>Categories</h5>
            <ul class="list-group-flush w-75">
                <li class="list-group-item">
                    <div class = 'form-check'>
                        <input class = 'form-check-input adminCategoryRadio' name = 'adminCategoryRadio' type = 'radio' value = 'No Filter' id = 'adminNoFilterRadio' >
                        <label for = 'adminNoFilterRadio' class = 'form-check-label categoryRadio' value = 'Erase Filter'>All Items</label>
                    </div>
                </li>
                {{#each categories}}
                <li class="list-group-item">
                    <div class = 'form-check'>
                        <input class = 'form-check-input adminCategoryRadio' name = 'adminCategoryRadio' type = 'radio' value = '{{this}}' id = 'admin{{this}}Radio' >
                        <label for = 'admin{{this}}Radio' class = 'form-check-label'>{{this}}</label>
                    </div>
                </li>
                {{/each}}
            </ul>
            <br><br>
            <h5>Filter By Availability</h5>
                <ul class="list-group-flush w-75">
                    <li class="list-group-item">
                        <div class = 'form-check'>
                        <input class = 'form-check-input adminSizeRadio' name = 'adminSizeRadio' type = 'radio' value = 'No Filter' id = 'adminSizeFilterRadio' >
                        <label for = 'adminSizeFilterRadio' class = 'form-check-label categoryRadio' value = 'Erase Filter'>All Items</label>
                        </div>
                    </li>
                    {{#each sizes}}
                    <li class="list-group-item">
                        <div class = 'form-check'>
                        <input class = 'form-check-input adminSizeRadio' name = 'adminSizeRadio' type = 'radio' value = '{{this}}' id = 'admin{{this}}sizeRadio' >
                        <label for = 'admin{{this}}sizeRadio' class = 'form-check-label'>{{this}}</label>
                        </div>
                    </li>
                    {{/each}}
                </ul>
        </div>
        <div class="display-catalogue-div col-sm-8 text-center">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <h4 class = "text-indent">{{title}}</h4>
                </div>
                <div class="col-sm-8 text-right">
                  <a href="/admin/add-new-product" type="button" class="btn logout-btn rounded-pill">Add New Product</a>
                </div>
            </div>
            <br>
            <div class = 'display-items'>
            {{>product-display}}
            </div>
            <br>
        </div>
    </div>
</section>

<script>
function changeRadio() { 
    console.log("beep")
  $.post('/admin/update-products', {
    category: $('input[name="adminCategoryRadio"]:checked').val(),
    size: $('input[name="adminSizeRadio"]:checked').val()
  }, function(result){
    $(".display-items").html(result);
  });
}

$(function() {
  $(".adminCategoryRadio").on("change", changeRadio);
  $('.adminSizeRadio').on("change", changeRadio);
});
</script>